/* Imported Fonts */
@import url("https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100;200;300;400;500&display=swap");
/* Variables */
/* General rules for CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Advent Pro", sans-serif; }

.mainContainer {
  background-image: linear-gradient(to left, #333333, black); }

.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto; }

.row {
  margin-left: -15px;
  margin-right: -15px; }

.navbar {
  background-image: linear-gradient(to left, #333333, black); }

.sectionLink {
  color: white !important;
  font-size: 20px; }
  .sectionLink:hover {
    color: #0bf20f !important; }

.logo {
  height: 60px;
  width: 60px;
  margin-right: 20px; }

.carousel-item {
  height: 30rem;
  background-size: cover;
  background-position: center center; }

.divMemory {
  background-image: url(https://cdn.pixabay.com/photo/2014/08/22/22/14/ram-424813_960_720.jpg); }

.divMother {
  background-image: url(https://cdn.pixabay.com/photo/2015/08/11/20/52/motherboard-885177_960_720.jpg); }

.divMicro {
  background-image: url(https://cdn.pixabay.com/photo/2020/11/19/19/14/circuit-board-5759540_960_720.jpg); }

.cardsGallery {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 20px; }

.card {
  margin-top: 20px; }

section img {
  width: 150px;
  height: 150px; }

.footerContainer {
  background-image: linear-gradient(#333333, black);
  height: 40vh; }
  .footerContainer img {
    height: 40px;
    width: 40px;
    margin-right: 10px; }

.footer--socials {
  display: flex;
  justify-content: center;
  margin-top: 100px; }

.footer--div-webmaster {
  display: flex;
  justify-content: center; }

.footer--style-H3 {
  padding-top: 30px;
  font-size: 20px;
  color: white; }

.css-selector-degradee {
  background: linear-gradient(270deg, orange, cyan, magenta, #02fb02);
  background-size: 800% 800%;
  height: 4px;
  animation: AnimationName 5s ease infinite;
  -webkit-animation: AnimationName 5s ease infinite;
  -o-animation: AnimationName 5s ease infinite; }

@keyframes AnimationName {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@-o-keyframes AnimationName {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
